# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.venv/
.env.local

# Node
node_modules/
dist/
build/
npm-debug.log*

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Audio files
aqalmand-ishara.mp3
Bulbul ka Bacha.mp3
english_output.wav
urdu_output.wav
en_to_ur_stt_output.json
en_to_ur_output.txt
translation_output.json